.App {
  text-align: center;
  background-color: rgba(47,35,89,1);
  color: white;
  min-height: 100vh;
}

button {
  width: auto;
  align-self: center;
  font-size: calc(5px + 1vmin);
  font-family: ibm-plex-serif, sans-serif;
}
